a.menu-797, ul.links li.menu-797 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_797.png);
  padding-left:25px;
  background-repeat: no-repeat;
  background-position: left;
  height: 25px;
}

a.menu-798, ul.links li.menu-798 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_802.png);
  padding-left:25px;
  background-repeat: no-repeat;
  background-position: left;
  height: 25px;
}

a.menu-801, ul.links li.menu-801 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_804.png);
  padding-left:25px;
  background-repeat: no-repeat;
  background-position: left;
  height: 25px;
}

a.menu-802, ul.links li.menu-802 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_802.png);
  padding-left:25px;
  background-repeat: no-repeat;
  background-position: left;
  height: 25px;
}

a.menu-803, ul.links li.menu-803 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_803.png);
  padding-left:30px;
  background-repeat: no-repeat;
  background-position: left;
  height: 30px;
}

a.menu-804, ul.links li.menu-804 a {
  background-image: url(/sites/default/files/styles/menu_icon/public/menu_icons/menu_icon_804.png);
  padding-left:25px;
  background-repeat: no-repeat;
  background-position: left;
  height: 25px;
}

